body {
  background-color: #1b3c53 !important;
}

.bg-main {
  background-color: #234c6a;
}
.bg-secondary {
  background-color: #d2c1b6;
}

.main-text {
  color: #d2c1b6 !important;
}

.secondary {
  background-color: #456882 !important;
}
li {
  margin-top: 2px;
  margin-bottom: 2px;
}
.image-container {
  height: 200px;
  width: 200px;
}

hr {
  color: black !important;
  width: 100%;
  height: 5px;
}



/* Navs and Tabs Section */
.nav {
  --bs-nav-link-color: #d2c1b6 !important;
  --bs-nav-link-hover-color: #92867e !important;
}
.nav-tabs {
  
  --bs-border-color: #234c6a !important;
  --bs-nav-tabs-link-active-bg: #d2c1b6 !important;
  --bs-nav-tabs-link-active-border-color: #d2c1b6 !important;
  border-bottom: var(--bs-nav-tabs-border-width) solid #d2c1b6 !important;
}
